<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Multi Player Game</title>
    <link href="../Scripts/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="packages/bootstrap.3.3.7/content/Scripts/bootstrap.js"></script>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="HomePage.html">Maze</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="SinglePlayer.html">Single Game</a></li>
                <li class="active"><a href="#">MultiPlayer Game</a></li>
                <li><a href="Settings.html">Settings</a></li>
                <li><a href="Rankings.html">User Rankings</a></li>
                <li><a href="Register.html">Register</a></li>
                <li><a href="Login.html">Login</a></li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        <h2>Multi Player Game</h2><hr />
        <div class="col-sm-4 form-horizontal">
            <div class="form-group">
                <label for="mazeName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeName" />
                </div>
            </div>
            <div class="form-group">
                <label for="mazeRows" class="col-sm-2 control-label">Rows</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeRows" />
                </div>
            </div>
            <div class="form-group">
                <label for="mazeCols" class="col-sm-2 control-label">Cols</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeCols" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="mazeName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button class="btn btn-default">Start Game</button>
                    </div>
                </div>
            </div>
                <div class="col-sm-8 text-center">
                    <canvas id="mazeCanvasName" width="300" height="90" style="border:2px black solid"></canvas>
                    <img src="User.png" id="user" style="display: none;" />
                    <img src="End.jpg" id="end" style="display: none;" />


                    <script src="../Scripts/jQuery.mazeBoard.js"> </script>

                    <script>
		maze2dArray =  [[0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0],
                        [0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0],
                        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]];
        $('#mazeCanvasName').mazeBoard('mazeBoard', maze2dArray, 0,0 , 2,9 , user, end);
        $('#mazeCanvasName').mazeBoard('drawMaze');
                    </script>
                </div>
           
        </div>
    </div>

</body>
</html>