<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HomePage</title>
    <link href="../Scripts/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Maze</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="SinglePlayer.html">Single Game</a></li>
                <li><a href="MultiPlayer.html">MultiPlayer Game</a></li>
                <li><a href="Settings.html">Settings</a></li>
                <li><a href="Rankings.html">User Rankings</a></li>
                <li><a href="Register.html">Register</a></li>
                <li><a href="Register.html">Login</a></li>


            </ul>
        </div>
    </nav>
       <div class="page-header">
           <div class="col-sm-4 form-horizontal">

               <h1>Play Maze Game</h1>
           </div>
    <div class="well">
        <p>Play the Original Maze game for free.<br /> play Online against your friends.</p>
    </div>
           </div>

</body>
</html>