<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link href="../Scripts/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="navBar"></div>
    <div class="container body-content">
        <h2>Login</h2><hr />
        <div class="col-sm-8 form-horizontal">
            <div class="form-group">
                <label for="mazeCols" class="col-sm-2 control-label">User Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="userName" />
                </div>
            </div>
            <div class="form-group">
                <label for="mazeCols" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default">Login</button>
                </div>
            </div>
            <div class="form-group">
                <a href="Register.html">Register as a new user</a>
            </div>
        </div>
    </div>
    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/navBar.js"></script>
    <script src="../Scripts/loginScript.js"></script>
</body>
</html>