<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <nav id="navBar">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="HomePage.html">Maze</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    
                    <li><a href="SinglePlayer.html">Single Game</a></li>
                    <li><a href="MultiPlayer.html">MultiPlayer Game</a></li>
                    <li><a href="Settings.html">Settings</a></li>
                    <li><a href="Rankings.html">User Rankings</a></li>
                    <li><a href="Register.html">Register</a></li>
                    <li><a href="Login.html">Login</a></li>

                </ul>
            </div>
        </nav>
    </nav>
</body>
</html>
