<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Single Game</title>
    <link href="../Scripts/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="HomePage.html">Maze</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="SinglePlayer.html">Single Game</a></li>
                <li><a href="MultiPlayer.html">MultiPlayer Game</a></li>
                <li><a href="Settings.html">Settings</a></li>
                <li><a href="Rankings.html">User Rankings</a></li>
                <li><a href="Register.html">Register</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        <h2>Single Player Game</h2><hr />
        <div class="col-sm-4 form-horizontal">
            <div class="form-group"> 
                <label for="mazeName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeName" />
                </div>
            </div>
            <div class="form-group">
                <label for="mazeRows" class="col-sm-2 control-label">Rows</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeRows" />
                </div>
            </div>
            <div class="form-group">
                <label for="mazeCols" class="col-sm-2 control-label">Cols</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeCols" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="mazeName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button class="btn btn-default" id="btnStart">Start Game</button>
                        <script>
                            var apiUrl = "http://localhost:55204/api/Generate";
                            $("#btnStart").click(function () {
                            var name = $("#mazeName").val();
                            var cols = $("#mazeCols").val();
                            var rows = $("#mazeRows").val();
                            
                            //alert("hello, Ohad!")
                            $.getJSON(apiUrl + "/" + name + "/" + rows + "/" + cols)
                                .done(function (data) {
                                    alert(data);
                                    //data.forEach(function (mazeFromServer) {
                                    alert("hello, Ohad!");
                                    var obj = JSON.parse(data);
                                        alert("name is " + obj.Name);
                                        alert("cols are " + obj.Cols);
                                //$("#generateMaze").text(product.Name + ": $" + product.Price);

                                    //});
                        })
                        .fail(function (jqXHR, textStatus, err) {
                            $("#product").text("Error: " + err);
                            });
                        });
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mazeAlgorithm" class="col-sm-2 control-label">Search Algo</label>
                    <div class="col-sm-10">

                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown">
                                Dfs
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dfs</a></li>
                                <li><a href="#">Bfs</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="mazeName" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button class="btn btn-default">Solve Game</button>
                        

                    </div>
                </div>

            </div>
            <div class="col-sm-8 text-right">
                <canvas id="mazeCanvasName" width="300" height="90" style="border:2px black solid"></canvas>
                <img src="User.png" id="user" style="display: none;" />
                <img src="End.jpg" id="end" style="display: none;" />


                <script src="../Scripts/jQuery.mazeBoard.js"> </script>

                <script>
		maze2dArray =  [[0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0],
                        [0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0],
                        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]];
        $('#mazeCanvasName').mazeBoard('mazeBoard', maze2dArray, 0,0 , 2,9 , user, end);
        $('#mazeCanvasName').mazeBoard('drawMaze');
                </script>
            </div>
        </div>
    </div>



</body>
</html>