<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Single Game</title>
    <link href="../Scripts/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div id="navBar"></div>
    <div class="row">
        <div class="container body-content">
            <h2>Single Player Game</h2><hr />
            <div class="col-sm-4 form-horizontal">
                <div class="form-group">
                    <label for="mazeName" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mazeName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mazeRows" class="col-sm-2 control-label">Rows:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mazeRows" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mazeCols" class="col-sm-2 control-label">Cols:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mazeCols" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" id="btnStart">Start Game</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mazeCols" class="col-sm-2 control-label">Algorithm:</label>
                    <div class="col-sm-offset-2 col-sm-10">
                        <div id="tableDiv" class="dropdown">
                            <button id="mazeAlgorithm" class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                               DFS
                                <span class="caret"></span>
                            </button>
                            <ul id="tableMenu" class="dropdown-menu">
                                <li><a href="#">DFS</a></li>
                                <li><a href="#">BFS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" id="btnSolve">Solve Game</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 form-horizontal">
                <canvas id="mazeCanvasName" width="800" height="800" style="border:2px black solid"></canvas>
                <img src="User.png" id="user" style="display: none;" />
                <img src="End.jpg" id="end" style="display: none;" />
            </div>
        </div>
    </div>
    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/navBar.js"></script>
    <script src="../Scripts/singlePlayer.js"></script>
    <script src="../Scripts/mazeBoard.js"> </script>

</body>
</html>